<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partial/header') %>
  </head>
  <body>
    <%- include('./partial/navbar') %>
    <br>
      <h1>Index page #  /index.ejx</h1>
    <br>
    <ul>
      <% data.forEach((item)=>{ %>
        <li>
          <h1><%= item.title %></h1>
          <p><%= item.content %> </p>
      <% }) %>
    </ul>

    <form class="" action="/item" method="post">
      <input type="text" name="title" value="title"><br>
      <input type="text" name="content" value="content"><br>
      <input type="submit" name="" value="Accept">
    </form>
  </body>
</html>
